[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/axelar-gmp-sdk-solidity"]
	path = lib/axelar-gmp-sdk-solidity
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity
